In [2]:
from pyspark.sql import SparkSession

# Create a SparkSession with Hive support
spark = SparkSession.builder \
    .appName("MyApp") \
    .config("spark.sql.warehouse.dir", "/user/hive/warehouse") \
    .enableHiveSupport() \
    .getOrCreate()

In [3]:
# Execute a query on a Hive table
result_df = spark.sql("SELECT count(*) FROM twitter_data.tweets ")

# Show the results
result_df.show()

+--------+
|count(1)|
+--------+
|   14300|
+--------+

In [4]:
firstRows_DF=spark.sql("select * from twitter_data.tweets limit 20 ")
firstRows_DF.show()

+-------------------+--------------------+-------------------+-------------+-----------+----------+-----------+-------------------+--------------------+---------------+---------------+---------------+-----------+------------+--------+----+-----+---+----+
|                 id|                text|          author_id|retweet_count|reply_count|like_count|quote_count|         created_at|                name|       username|followers_count|following_count|tweet_count|listed_count|verified|year|month|day|hour|
+-------------------+--------------------+-------------------+-------------+-----------+----------+-----------+-------------------+--------------------+---------------+---------------+---------------+-----------+------------+--------+----+-----+---+----+
|1654239177595146240|RT : Omdurman Mid...| 711486983655301121|           26|          0|         0|          0|2023-05-04 21:38:48|              Hisham|    hishamjr145|            335|            376|      10988|           2|   false|2023|    5|  4|  21|
|1654239165159034880|RT : Those in Sud...|         3134827066|          162|          0|         0|          0|2023-05-04 21:38:45|    Jonathan Abuajah|       jabuajah|            517|            422|     105996|           0|   false|2023|    5|  4|  21|
|1654239163560996865|The US just broug...|1283731444830023680|            0|          0|         0|          0|2023-05-04 21:38:45|  Fidel Slim Guevara|    Slimchineme|            843|           1046|      16971|           0|   false|2023|    5|  4|  21|
|1654239162214797312|RT : After she fl...| 738952995136667649|           45|          0|         0|          0|2023-05-04 21:38:45| Freedom for Tigray!|  HGebreslassie|           1623|           1731|      68648|           1|   false|2023|    5|  4|  21|
|1654239160624992256|RT : My only fear...|           61762023|          364|          0|         0|          0|2023-05-04 21:38:44|           Oluwaseun|     deolujames|           1950|           1058|     404521|          51|   false|2023|    5|  4|  21|
|1654239156891951108|RT : After she fl...|1496586301486809094|           55|          0|         0|          0|2023-05-04 21:38:43|             üîúSamri|Samrawitkalayu7|           3968|           1492|     646624|           2|   false|2023|    5|  4|  21|
|1654239147459059714|RT : According to...|1552714383444381696|           29|          0|         0|          0|2023-05-04 21:38:41|         Raki Hopeüçã|   TrRt37484495|           1850|            934|     534511|           1|   false|2023|    5|  4|  21|
|1654239142824546305|RT : I am surpris...|1547945567245832194|           46|          0|         0|          0|2023-05-04 21:38:40|      Abubakar shehu|Abubaka66532343|             51|             72|        969|           0|   false|2023|    5|  4|  21|
|1654239134410502148|RT : We are alarm...|1501279581311021057|            7|          0|         0|          0|2023-05-04 21:38:38|      Tsgie üì¢‚ù§Ô∏èüíõüíä|  Tembieneyti14|           1849|           1009|     424754|           0|   false|2023|    5|  4|  21|
|1654239118975553542|RT : Current conf...|          217449520|          114|          0|         0|          0|2023-05-04 21:38:34|         Mark Baxter|   MarkRsbackie|             93|            184|        763|           0|   false|2023|    5|  4|  21|
|1654239107072028672|RT : Allen Onyeam...|          610698950|            8|          0|         0|          0|2023-05-04 21:38:32|General Omorogbe ...|  OmorogbeHarry|            892|           1550|     103560|           0|   false|2023|    5|  4|  21|
|1654239102244384770|RT : Sudan Ambass...|1217979669988900864|            9|          0|         0|          0|2023-05-04 21:38:30|          Msaddamabk|     msaddamabk|            555|           4456|       4449|           4|   false|2023|    5|  4|  21|
|1654239094342287361|RT : Around 30 bu...|         3165729360|           11|          0|         0|          0|2023-05-04 21:38:29|       Georges Fahmi|   GeorgesFahmi|           3217|           1631|       4105|          44|   false|2023|    5|  4|  21|
|1654239088268943360|RT : According Pr...|1496586301486809094|           21|          0|         0|          0|2023-05-04 21:38:27|             üîúSamri|Samrawitkalayu7|           3968|           1492|     646624|           2|   false|2023|    5|  4|  21|
|1654239082405326849|RT : The empire‚Äôs...|1497258299020001286|            3|          0|         0|          0|2023-05-04 21:38:26|üëëAFelixebi5 Feli...|    Afelixebi5F|            683|           1165|      48563|           3|   false|2023|    5|  4|  21|
|1654239068937506816|RT : According Pr...|1431333358529826820|           52|          0|         0|          0|2023-05-04 21:38:22|            susu70üë∏|  susutigraweit|           8858|           2122|     380722|           3|   false|2023|    5|  4|  21|
|1654239061224112130|RT : FACT-CHECK: ...|           25603389|           65|          0|         0|          0|2023-05-04 21:38:21|      Engineer Bolex|  engineerbolex|           7553|           8340|     110279|          10|   false|2023|    5|  4|  21|
|1654239059311460355|RT : Tigryan refu...|1573068165524996096|           55|          0|         0|          0|2023-05-04 21:38:20|    Tsige Geberhiwot|       TsigeG21|           1055|           1131|      69471|           0|   false|2023|    5|  4|  21|
|1654239051052982272|RT :  Û†ÅßÛ†Å¢Û†Å≥Û†Å£Û†Å¥?...|          298141700|           51|          0|         0|          0|2023-05-04 21:38:18|Raibeart MacunOig...|  Benlinebandit|           1214|           1916|      38186|           5|   false|2023|    5|  4|  21|
|1654239047424851968|RT : ‚ÄúWe are worr...|1573068165524996096|           65|          0|         0|          0|2023-05-04 21:38:17|    Tsige Geberhiwot|       TsigeG21|           1055|           1131|      69471|           0|   false|2023|    5|  4|  21|
+-------------------+--------------------+-------------------+-------------+-----------+----------+-----------+-------------------+--------------------+---------------+---------------+---------------+-----------+------------+--------+----+-----+---+----+

In [5]:
spark.sql("""
    CREATE EXTERNAL TABLE IF NOT EXISTS twitter_data.users_dim (
        author_id STRING,
        id STRING,
        name STRING,
        username STRING,
        followers_count INT,
        following_count INT,
        tweet_count INT,
        listed_count INT,
        verified STRING
    )
    PARTITIONED BY (year INT, month INT, day INT)
    STORED AS PARQUET
    LOCATION '/FileStore/twitter_data/users_dim'
""")

++
||
++
++

In [6]:

spark.sql("""
    INSERT OVERWRITE TABLE twitter_data.users_dim
    PARTITION (year, month, day)
    SELECT author_id, id, name, username, followers_count, following_count, tweet_count, listed_count, verified, year(created_at) AS year, month(created_at) AS month, day(created_at) AS day
    FROM twitter_data.tweets
""")

++
||
++
++

In [7]:
spark.sql("""
select * from twitter_data.users_dim
limit 3
""")

+-------------------+-------------------+----------------+---------------+---------------+---------------+-----------+------------+--------+----+-----+---+
|          author_id|                 id|            name|       username|followers_count|following_count|tweet_count|listed_count|verified|year|month|day|
+-------------------+-------------------+----------------+---------------+---------------+---------------+-----------+------------+--------+----+-----+---+
|1496586301486809094|1654239162386591745|         üîúSamri|Samrawitkalayu7|           3968|           1492|     646616|           2|   false|2023|    5|  4|
|1573068165524996096|1654239161543454726|Tsige Geberhiwot|       TsigeG21|           1055|           1130|      69471|           0|   false|2023|    5|  4|
|1492197849760677897|1654239159106584578|         Alumaü¶ã|    AlumaAlumaa|           5318|           1229|     382434|           0|   false|2023|    5|  4|
+-------------------+-------------------+----------------+---------------+---------------+---------------+-----------+------------+--------+----+-----+---+

In [8]:
spark.sql("""CREATE EXTERNAL TABLE IF NOT EXISTS twitter_data.tweets_dim (
    id STRING ,
    text STRING,
    author_id STRING,
    retweet_count INT,
    reply_count INT,
    like_count INT,
    quote_count INT,
    created_at TIMESTAMP
   
) PARTITIONED BY (year INT, month INT, day INT, hour INT)
STORED AS PARQUET
LOCATION '/FileStore/twitter_data/tweets_dim';
""")

++
||
++
++

In [9]:
spark.sql("""
INSERT OVERWRITE TABLE twitter_data.tweets_dim
PARTITION (year, month, day, hour)
SELECT id, text, author_id, retweet_count, reply_count, like_count, quote_count, created_at, year(created_at) as year, month(created_at) as month, day(created_at) as day, hour(created_at) as hour
FROM twitter_data.tweets
""")

++
||
++
++

In [10]:
spark.sql("""
select * from twitter_data.tweets_dim
limit 3
""")

+-------------------+--------------------+-------------------+-------------+-----------+----------+-----------+-------------------+----+-----+---+----+
|                 id|                text|          author_id|retweet_count|reply_count|like_count|quote_count|         created_at|year|month|day|hour|
+-------------------+--------------------+-------------------+-------------+-----------+----------+-----------+-------------------+----+-----+---+----+
|1654238944639213569|RT : Time for the...|1580316558588579841|           20|          0|         0|          0|2023-05-04 21:37:53|2023|    5|  4|  21|
|1654238944534437889|My grandkids came...|         2952180689|            0|          0|         4|          0|2023-05-04 21:37:53|2023|    5|  4|  21|
|1654238937366290435|RT : The #US need...|1636771660438159364|          100|          0|         0|          0|2023-05-04 21:37:51|2023|    5|  4|  21|
+-------------------+--------------------+-------------------+-------------+-----------+----------+-----------+-------------------+----+-----+---+----+

In [11]:
spark.sql("""CREATE EXTERNAL TABLE IF NOT EXISTS twitter_data.author_matrix (
    author_id STRING,
    tweet_id STRING
) PARTITIONED BY (year INT, month INT, day INT, hour INT)
STORED AS PARQUET
LOCATION '/FileStore/twitter_data/author_matrix';
""")

spark.sql("""INSERT OVERWRITE TABLE twitter_data.author_matrix
PARTITION (year, month, day, hour)
SELECT author_id, id as tweet_id, year(created_at) as year, month(created_at) as month, day(created_at) as day, hour(created_at) as hour
FROM twitter_data.tweets_dim;
""")

++
||
++
++

In [12]:
spark.sql("""
select * from twitter_data.author_matrix
limit 3
""")

+-------------------+-------------------+----+-----+---+----+
|          author_id|           tweet_id|year|month|day|hour|
+-------------------+-------------------+----+-----+---+----+
|1496586301486809094|1654239162386591745|2023|    5|  4|  21|
|1573068165524996096|1654239161543454726|2023|    5|  4|  21|
|1492197849760677897|1654239159106584578|2023|    5|  4|  21|
+-------------------+-------------------+----+-----+---+----+

In [13]:
spark.sql("""
CREATE EXTERNAL TABLE IF NOT EXISTS twitter_data.time_dim (
    time_id INT,
    created_at TIMESTAMP
)
PARTITIONED BY (year INT, month INT, day INT, hour INT)
STORED AS PARQUET
LOCATION '/FileStore/twitter_data/time_dim';
""")

spark.sql("""
INSERT OVERWRITE TABLE twitter_data.time_dim
PARTITION (year, month, day, hour)
SELECT
ROW_NUMBER() OVER (ORDER BY created_at) AS time_id,
created_at, year, month,day,hour
FROM twitter_data.time_dim;
""")

++
||
++
++

In [14]:
spark.sql("""
select * from twitter_data.time_dim 
limit 3
""")

+-------+----------+----+-----+---+----+
|time_id|created_at|year|month|day|hour|
+-------+----------+----+-----+---+----+
+-------+----------+----+-----+---+----+

In [15]:
spark.sql("""
CREATE TABLE IF NOT EXISTS twitter_data.tweets_more_than_50 (
    hour INT,
    tweets_count INT,
    earliest_created_at TIMESTAMP
) PARTITIONED BY (year , month , day )
STORED AS PARQUET
LOCATION '/FileStore/twitter_data/tweets_more_than_50';
""")

spark.sql("""
INSERT OVERWRITE TABLE twitter_data.tweets_more_than_50
PARTITION (year, month, day)
SELECT
    hour,
    COUNT(*) AS tweets_count,
    year(created_at) AS year,
    month(created_at) AS month,
    day(created_at) AS day,
    MIN(created_at) AS earliest_created_at
FROM twitter_data.tweets_dim
GROUP BY hour, year, month, day
HAVING COUNT(*) > 50
""")

AnalysisException: partition column year is not defined in table twitter_data.tweets_more_than_50, defined table columns are: hour, tweets_count, earliest_created_at

In [16]:
spark.sql("""
CREATE TABLE IF NOT EXISTS twitter_data.tweet_matrix_raw (
    id String ,
    retweet_count INT,
    reply_count INT,
    like_count INT,
    quote_count INT
) PARTITIONED BY (year INT, month INT, day INT, hour INT)
STORED AS PARQUET
LOCATION '/FileStore/twitter_data/tweet_matrix_raw';
""")

++
||
++
++

In [17]:

spark.sql("""
INSERT OVERWRITE TABLE  twitter_data.tweet_matrix_raw
PARTITION (year, month, day, hour)
SELECT id, retweet_count, reply_count, like_count, quote_count, 
  year(created_at) as year, month(created_at) as month, day(created_at) as day, hour(created_at) as hour
FROM twitter_data.tweets;
""")

++
||
++
++

In [18]:
spark.sql("""
select * from twitter_data.tweet_matrix_raw
limit 3
""")

+-------------------+-------------+-----------+----------+-----------+----+-----+---+----+
|                 id|retweet_count|reply_count|like_count|quote_count|year|month|day|hour|
+-------------------+-------------+-----------+----------+-----------+----+-----+---+----+
|1654239167377817603|           65|          0|         0|          0|2023|    5|  4|  21|
|1654239164462669833|           26|          0|         0|          0|2023|    5|  4|  21|
|1654239162386591745|           41|          0|         0|          0|2023|    5|  4|  21|
+-------------------+-------------+-----------+----------+-----------+----+-----+---+----+

In [19]:
spark.sql("""
CREATE TABLE IF NOT EXISTS twitter_data.tweets_count_raw (
    hour INT,
    tweets_count INT
) PARTITIONED BY (year INT, month INT, day INT)
STORED AS PARQUET
LOCATION '/FileStore/twitter_data/tweets_count_raw';
""")

++
||
++
++

In [20]:
spark.sql("""
INSERT OVERWRITE TABLE twitter_data.tweets_count_raw
PARTITION (year, month, day)
SELECT 
  HOUR(CAST(t.created_at AS TIMESTAMP)) AS hour,
  COUNT(1) AS tweets_count,
  YEAR(CAST(t.created_at AS DATE)) AS year,
  MONTH(CAST(t.created_at AS DATE)) AS month,
  DAY(CAST(t.created_at AS DATE)) AS day
FROM twitter_data.tweets t
GROUP BY HOUR(CAST(t.created_at AS TIMESTAMP)), YEAR(CAST(t.created_at AS DATE)), MONTH(CAST(t.created_at AS DATE)), DAY(CAST(t.created_at AS DATE))
""")

++
||
++
++

In [21]:
spark.sql("""
select * from twitter_data.tweets_count_raw
limit 1
""")

+----+------------+----+-----+---+
|hour|tweets_count|year|month|day|
+----+------------+----+-----+---+
|  21|       14300|2023|    5|  4|
+----+------------+----+-----+---+

In [22]:
spark.sql("""
CREATE TABLE IF NOT EXISTS twitter_data.most_active_hour_raw (
    hour INT,
    tweets_count INT
) PARTITIONED BY (year INT, month INT, day INT)
STORED AS PARQUET
LOCATION '/FileStore/twitter_data/most_active_hour_raw';
""")

++
||
++
++

In [23]:
spark.sql("""
INSERT OVERWRITE TABLE twitter_data.most_active_hour_raw
PARTITION (year, month, day)
SELECT hour(created_at) AS hour,
COUNT(*) AS tweets_count,
YEAR(created_at) AS year,
MONTH(created_at) AS month,
DAY(created_at) AS day
FROM twitter_data.tweets
GROUP BY hour(created_at), YEAR(created_at), MONTH(created_at), DAY(created_at);
""")

++
||
++
++

In [24]:
spark.sql("""
select * from twitter_data.most_active_hour_raw
limit 3
""")

+----+------------+----+-----+---+
|hour|tweets_count|year|month|day|
+----+------------+----+-----+---+
|  21|       14300|2023|    5|  4|
+----+------------+----+-----+---+

In [25]:
spark.sql("""
CREATE TABLE IF NOT EXISTS twitter_data.tweets_more_than_50_raw (
    hour INT,
    tweets_count INT
) PARTITIONED BY (year INT, month INT, day INT)
STORED AS PARQUET
LOCATION '/FileStore/twitter_data/tweets_more_than_50_raw';
""")
spark.sql("""
INSERT OVERWRITE TABLE twitter_data.tweets_more_than_50_raw
PARTITION (year, month, day)
SELECT hour(created_at) as hour, COUNT(*) as tweets_count, 
  year(created_at) as year, month(created_at) as month, day(created_at) as day
FROM twitter_data.tweets
GROUP BY year(created_at), month(created_at), day(created_at), hour(created_at)
HAVING COUNT(*) > 50;
""")

++
||
++
++

In [26]:
spark.sql("""
select * from twitter_data.tweets_more_than_50_raw
WHERE tweets_count > 50
limit 3
""")

+----+------------+----+-----+---+
|hour|tweets_count|year|month|day|
+----+------------+----+-----+---+
|  21|       14300|2023|    5|  4|
+----+------------+----+-----+---+

In [27]:
spark.sql("""

CREATE TABLE IF NOT EXISTS twitter_data.tweet_count_hourly (
    year INT,
    month INT,
    day INT,
    hour INT,
    tweet_count INT
) STORED AS PARQUET
LOCATION '/FileStore/twitter_data/tweet_count_hourly';

""")

++
||
++
++

In [28]:
spark.sql("""

INSERT OVERWRITE TABLE twitter_data.tweet_count_hourly
SELECT
    year(created_at) AS year,
    month(created_at) AS month,
    day(created_at) AS day,
    hour(created_at) AS hour,
    COUNT(*) AS tweet_count
FROM twitter_data.tweets
GROUP BY year(created_at), month(created_at), day(created_at), hour(created_at);
""")

++
||
++
++

In [29]:
spark.sql("""
select * from twitter_data.tweet_count_hourly
limit 3
""")

+----+-----+---+----+-----------+
|year|month|day|hour|tweet_count|
+----+-----+---+----+-----------+
|2023|    5|  4|  21|      14300|
+----+-----+---+----+-----------+

In [30]:
spark.sql("""
CREATE TABLE IF NOT EXISTS twitter_data.top_10_retweeted_tweets_fact (
    tweet_id string,
    text STRING,
    retweet_count INT
) STORED AS PARQUET
LOCATION '/FileStore/twitter_data/top_10_retweeted_tweets_fact';
""")

++
||
++
++

In [33]:
spark.sql("""
INSERT INTO twitter_data.top_10_retweeted_tweets_fact
SELECT CAST(id AS STRING) AS tweet_id, text, retweet_count
FROM twitter_data.tweets
ORDER BY retweet_count DESC
LIMIT 10;
""")